* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: cornflowerblue;
    font-size: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,
footer {
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.365);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select#flista {
    width: 170px;
    padding: 10px;
}

select option{
    padding: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



